/* GLOBAL STYLES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    /*overflow-y: hidden;*/
}

body {
    font-family: sans-serif;
    background-color: #f7f2f2;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    display: block;
    color: #111111;
    letter-spacing: 1px;
}



.barra-superior {
    display: grid;
    grid-template-columns: 1fr 640px 1fr;
    align-items: center;
    justify-items: center;
    height: 50px;
    /*background-color: #53575c; */
    background-color: white;
    /*box-shadow: 2px 2px 1px #22577E;*/
    box-shadow: 2px 2px 1px #22577E;
    position: relative;
    z-index: 2;
}

.logo img {
    height: 40px;
    display: block;
    margin: auto;
}

.menu-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 640px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
}

.menu-bar li {
    height: 50px;
    padding-top: 10px;
}

.menu-bar li a {
    color: #22577E; 
    /*color: red; */
}


.main-menu-dic {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1rem;
    width: 400px;
    margin: auto;
    padding: 20px 0;
    background-color: #fffefe;
    border: 1px solid #dbd9d9;
    opacity: 0.8;
 }

 .menu-container {
    display: grid;
    justify-items: center;
    align-items: center;
    line-height: 30px;
 }

 button {
    border: none;
    /* padding: 5px 15px;*/
    padding: 2px 5px;
    text-align: center;
    color: white;
    /*background: green;*/
    background: #22577E;
    border-radius: 5px;
    font-size: 16px;
 }

 .btn-del {
     /*background-color: red;*/
     background-color: #F05454;
     /*padding: 5px 15px;*/
 }

 .btn-edit {
    /*background-color: #0056FF;*/
    background-color: #5584AC;
    /*padding: 5px 20px;*/
}

table {
    border-spacing: 10px;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #22577E;
    color: white;
    text-align: center;
}